{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
  <div class="row p-5">
    <div class="col-sm-5">
    </div>
    <div class="col-sm">
		<div class="card">
		  <form action="login" method="post" class="p-2">
			{% csrf_token %}
			<div class="form-group d-flex justify-content-center" >
				<div class="col-sm-10">
					<label for="username">Имя пользователя</label>
					<input class="form-control" type="text" name="username" id="username">
				</div>
			</div>
			<div class="form-group d-flex justify-content-center">
				<div class="col-sm-10">
					<label for="password">Пароль</label>
					<input class="form-control" type="password" name="password" id="password">
				</div>
			</div>
			{% if login_error %}
				<label class="error">{{ login_error }}</label>
			{% endif %}
			  <div class="d-flex justify-content-center">
<!--			  <div class="p-3">-->
			<input class="btn btn-primary " type="submit" value="Войти">
				  </div>
<!--				  </div>-->
		</form>
		</div>
    </div>
    <div class="col-sm-5">
    </div>
  </div>
</div>




{% endblock %}