{% extends 'base.html' %}
{% block title %}
<title>Личный кабинет</title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row p-2">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Спортивные события</a>
      <a class="nav-link" id="bet-type-tab" data-toggle="pill" href="#bet-type" role="tab" aria-controls="bet-type" aria-selected="false">Типы ставок</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Букмейкеры</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Telegram бот</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Личные данные</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h4>Вид спорта</h4>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Футбол</label>
          </div>
             <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Баскетбол</label>
          </div>
             <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Хоккей</label>
          </div>
             <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Теннис</label>
          </div>
      </div>
      <div class="tab-pane fade" id="bet-type" role="tabpanel" aria-labelledby="bet-type-tab">
          <h4>Типы ставок</h4>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck21">
            <label class="custom-control-label" for="customCheck21">Победа первой/второй команды </label>
          </div>
             <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck22">
            <label class="custom-control-label" for="customCheck22">Победа первой/второй команды с форой(азиатский гандикап)</label>
          </div>
             <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck23">
            <label class="custom-control-label" for="customCheck23">Тотал матча больше/меньше</label>
      </div>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h4>Настройки букмейкеров</h4>
          {% for bk in bks %}
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox{{bk.id_odds}}" value="option1">
              <label class="form-check-label" for="inlineCheckbox{{bk.id_odds}}">{{ bk.name }}</label>
            </div>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
         <h4>Настройки telegram бота</h4>
          <div class="p-2">
              <p><strong>Логин аккаунта в telegram: </strong><span>xxx</span></p>
          </div>
      </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <h4>Личные данные</h4>
          <div class="p-2">
              <p><strong>Имя: </strong><span>{{ user.first_name }}</span></p>
              <p><strong>Фамилия: </strong><span>{{ user.last_name }}</span></p>
              <p><strong>Email: </strong><span>{{ user.email }}</span></p>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}