{% extends 'base.html' %}
{% block title %}
<title>Main Page</title>
{% endblock %}

{% block content %}
<div class="p-3">
<br>
<h4>Ставки с перевесом</h4>
<br>

{% if user.is_authenticated %}
<table class="table-bordered table table-striped ">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">group.url</th>
        <th scope="col">sub_group</th>
        <th scope="col">bk.name</th>
        <th scope="col">k_bk</th>
        <th scope="col">k_ref </th>
        <th scope="col">value</th>
        <th scope="col">date_update</th>
        <th scope="col">bet_group</th>
        <th scope="col">event</th>
        <th scope="col">event_date</th>
    </tr>
    </thead>
    <tbody>
    {% for bet in betvalues %}
        <th scope="row">{{ forloop.counter0 }}</th>
        <td> {{ bet.bet_group.url }} </td>
        <td> {{ bet.bet_sub_group }} </td>
        <td> {{ bet.bk.name }} </td>
        <td> {{ bet.k_bk }} </td>
        <td> {{ bet.k_ref }} </td>
        <td> {{ bet.value }} </td>
        <td> {{ bet.date_update }} </td>
        <td> {{ bet.bet_group.name }} </td>
        <td> {{ bet.bet_group.event.name }} </td>
        <td> {{ bet.bet_group.event.data_start }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <span>Для получения полной информации авторизуйтесь.</span>
{% endif %}
</div>

{% endblock %}