{% extends 'base.html' %}
{% block title %}
<title>Main Page</title>
{% endblock %}

{% block content %}
<div class="p-3">
<br>
<h4>Спортивные события</h4>
<br>

{% if user.is_authenticated %}
<table class="table-bordered table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">sport_type</th>
        <th scope="col">group</th>
        <th scope="col">event name</th>
        <th scope="col">data_start</th>
        <th scope="col">date_add</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <th scope="row">{{ forloop.counter0 }}</th>
        <td> {{ event.sport_type }} </td>
        <td> {{ event.group }} </td>
        <td> {{ event.name }} </td>
        <td> {{ event.data_start }} </td>
        <td> {{ event.date_add }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<span>Для получения полной информации авторизуйтесь.</span>
{% endif %}

</div>

{% endblock %}