{% extends 'base.html' %}
{% block title %}
<title>BetsStat</title>
{% endblock %}

{% block content %}
<div class="p-3">
<h2 >Рабочий стол</h2>
</div>
{% block login %} {% endblock %}

{% endblock %}