<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block title %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/">Рабочий стол</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/events">Спортивные события</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/betvalue">Ставки с перевесом</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Вилки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Коридоры</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <span class="navbar-text">
          <a href="/account"><button type="button" class="btn btn-outline-secondary">Личный кабинет</button></a>
          <a href="/auth/logout"><button type="button" class="btn btn-outline-secondary">Выйти</button></a>
        </span>
        {% else %}
        <span class="navbar-text">
          <a href="/auth/login"><button type="button" class="btn btn-outline-secondary">Войти</button></a>
        </span>
        {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>